@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-image: url('https://media1.giphy.com/media/26xoqqGeHxxonNtVm/source.gif');
  background-color: #a0e6eb;
  height: 500px;
  background-position: center;
  background-size: cover;
}